SECRET_KEY=django-insecure-gestfin-change-in-production-2026
DEBUG=True
DB_NAME=gestfin_db
DB_USER=root
DB_PASSWORD=votre_mot_de_passe
DB_HOST=localhost
DB_PORT=3306

# SendGrid
SENDGRID_API_KEY=your_sendgrid_api_key
EMAIL_HOST_USER=apikey
DEFAULT_FROM_EMAIL=your_verified_sendgrid_email@example.com
